body {
  /* margin: 0; */
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .container {
  width: 100%;
  margin-left: 10em;
} */

table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #fff;
}

th {
position: sticky;
top: 50px;
background: white;
}